---
title: Portfolio
layout: base
pagination:
  data: collections.portfolio
  size: 5
  alias: portfolio
  reverse: true
permalink: "portfolio/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}{% endif %}/"
bodyClass: portfolio
---

{% for project in portfolio %}
<article class="article | flow">
  <header>
    <h2>
      <a href="{{ project.url }}" class="brand">{{ project.data.title }}</a>
    </h2>
    Posted
    <time datetime="{{ project.date | toISOString }}">
      {{ project.date | toUTCString }}
    </time>
  </header>
  {%comment%} {% if project.data.before %}
  <img src="{{project.data.before}}" alt="{{project.data.beforeAlt}}" />
  {% endif %} {%endcomment%}
  <a href="{{ project.url }}" class="brand">
    <img src="{{project.data.image}}" alt="{{project.data.imageAlt}}" />
  </a>

  <p>{{ project.data.overview }}</p>
</article>
{% endfor %} {% if pagination.pages.length > 1 %}
<!-- Pagination links -->
<nav class="pagination">
  <a href="{{ pagination.href.first }}">First</a> ▪ {% if
  pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a> ▪ {% endif %} Page: {{
  pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }} {% if
  pagination.href.next %} ▪ <a href="{{ pagination.href.next }}">Next</a> {%
  endif %} ▪
  <a href="{{ pagination.href.last }}">Last</a>
</nav>
{% endif %}
