@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&family=Oswald:wght@400;600;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
:root {
  --hsl-hs: 28 87%;
  --hsl-l: 62%;
  --hsl-hs: 24 85%;
  --hsl-l: 50%;
  /* light 77 dark 47 */
  --hsl-hs-a: 228 85%;
  --hsl-l-a: 25%;

  --hsl-brand: var(--hsl-hs) var(--hsl-l);
  --hsl-accent: var(--hsl-hs-a) var(--hsl-l-a);
  --hsl-white: var(--hsl-hs) 95%;
  --hsl-black: var(--hsl-hs) 5%;

  --color-brand: hsl(var(--hsl-brand));
  --color-accent: hsl(var(--hsl-accent));
  --color-white: hsl(var(--hsl-white));
  --color-black: hsl(var(--hsl-black));

  --color-bg: var(--color-white);
  --color-text: var(--color-black);

  --size-hero: var(--size-2xl);
  --size-hero-body: var(--size-s);
  --size-heading: var(--size-2xl);
  --size-subheading: var(--size-xl);
  --size-subsubheading: var(--size-m);
  --size-body: var(--size-xs);
  --size-small: var(--size-2xs);
  --size-lineheight: 1.5;

  --oswald: "Oswald", ui-sans-serif, sans-serif;
  --roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --robotoslab: "Roboto Slab", ui-serif, serif;

  --ff-heading: var(--robotoslab);
  --ff-hero: var(--roboto);
  --ff-hero-body: var(--roboto);
  --ff-body: var(--roboto);
  --ff-button: var(--robotoslab);

  --fw-heading: 700;
  --fw-hero: 400;
  --fw-hero-body: 400;
  --fw-bold: 700;
  --fw-black: 900;
}
:root {
  --size-2xs: var(--step--2);
  --size-xs: var(--step--1);
  --size-s: var(--step-0);
  --size-m: var(--step-1);
  --size-l: var(--step-2);
  --size-xl: var(--step-3);
  --size-2xl: var(--step-4);
  --size-3xl: var(--step-5);

  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.52rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
  --space-xs: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --space-m: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3rem);
  --space-xl: clamp(3.94rem, calc(3.72rem + 1.1vw), 4.5rem);
  --space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6rem);
  --space-3xl: clamp(7.88rem, calc(7.44rem + 2.2vw), 9rem);

  --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-xs-s: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-m-l: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
  --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.5rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9rem);
}

/* BASE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;

  background: var(--color-white);
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;

  color: var(--color-black);
  font-size: var(--size-body);
  line-height: var(--size-lineheight);
  font-family: var(--ff-body);

  text-rendering: optimizeSpeed;
}
body.home {
  background: var(--color-white) url(/images/rings.png) bottom 3em right/50vmin
    no-repeat fixed;
}
img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
  height: auto;
  margin-inline: auto;
  border: 1px solid var(--color-black);
}
picture {
  text-align: center;
  font-size: var(--size-l);
  font-weight: var(--fw-bold);
}
picture img {
  border-inline: 0;
}
img[src$="svg"],
svg {
  /* inline-size: 100%; */
  min-inline-size: 65%;
  padding: 1em;
  background: white;
}
img.noborder {
  border: 0;
}
textarea {
  min-height: 10em;
  resize: vertical;
  resize: block;
}
main {
  margin-block: auto;
}
h1 {
  font-size: var(--size-heading);
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
  line-height: 1;
}
h2 {
  margin-block-start: 1em;
  font-size: var(--size-subheading);
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
  line-height: 1;
}
h3 {
  margin-block-start: 1em;
  font-weight: var(--fw-heading);
  font-size: var(--size-subsubheading);
  font-family: var(--ff-heading);
  line-height: 1;
}
em,
i,
.italic {
  font-style: italic;
}
strong,
b,
.bold {
  font-weight: var(--fw-bold);
}
a,
.link {
  /* color-link is used for overwriting link colors locally */
  color: var(--color-link, var(--color-accent));
  font-weight: var(--fw-bold);
  text-decoration: none;

  cursor: pointer;
  position: relative;
}
a:hover,
.link:hover,
a:focus-visible,
.link:focus-visible {
  /* this is accessible to all browsers */
  text-decoration: underline;
}
/* fancy links */
:is(a, .link) {
  /* !Important used to enhance experience for browsers that support :is */
  text-decoration: none !important;
}
:is(a, .link)::before {
  position: absolute;
  content: "";

  inset: auto 0 0;
  height: calc(1em / 16);
  block-size: calc(1em / 16);
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 350ms linear;
}
:is(a, .link):is(:hover, :focus-visible)::before {
  transform: scaleX(1);
  transform-origin: left;
}
[aria-current] a::before,
:is(a, .link):is(.nohover, .button, :has(img))::before {
  /* remove fancy hover effect from current page, buttons, linked images, or any link marked as .nohover */
  display: none;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* LAYOUT */

.flow * + * {
  margin-block-start: 1em;
}
.even-columns {
  display: grid;
  gap: var(--gap, var(--space-s, 1em));
}
.container {
  --_padding: var(--padding, var(--space-s, 1rem));
  --_width: var(--width, 75ch);

  inline-size: min(100% - var(--_padding) * 2, var(--_width));
  margin-inline: auto;
}
.container .fullbleed {
  margin: 0 calc(50% - 50vw);
}
.full-grid {
  grid-column: 1/-1;
  text-align: center;
}
.push-right {
  margin-block-start: auto;
}
.flex {
  display: flex;
  gap: var(--gap, var(--space-s, 1em));
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.flex-start {
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}
.stacked {
  display: grid;
  place-items: center;
  isolation: isolate;
}
.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.stacked > .media {
  z-index: -1;
}
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  [data-cols] {
    grid-auto-flow: initial;
    grid-template-columns: repeat(var(--cols), 1fr);
  }
  [data-cols="2"] {
    --cols: 2;
  }
  [data-cols="3"] {
    --cols: 3;
  }
  [data-cols="4"] {
    --cols: 4;
  }
  [data-cols="5"] {
    --cols: 5;
  }
  [data-cols="6"] {
    --cols: 6;
  }
}
@media (max-width: 50em) {
  .flex {
    flex-direction: column;
  }
}

/* COMPONENTS */
.nav {
  position: relative;
}
.logo {
  position: absolute;
  inset: 0 0 0 auto;
  aspect-ratio: 1;
}

/* heading */
h1 {
  display: grid;
  grid-template-rows: auto;
  padding-inline-start: 1rem;
  padding-block-end: 0.5rem;
}

/* mainnav */
.mainnav {
  position: relative;
  padding: 0.5rem 1rem;
  z-index: 9;
  /* border-bottom: 1px solid var(--color-black); */
  box-shadow: 0 2px 5px -3px var(--color-black);
}
.mainnav li {
  --color-link: var(--color-black);
  text-shadow: 0 0 1px currentColor;
}
[aria-current] {
  --color-link: white !important;
}

/* responsive topbar */
@media (min-width: 50em) {
  .logo {
    inset-block-start: calc(-0.5rem - var(--size-heading) * 2);
    transition: inset-block-start 100ms;
  }
  .mainnav {
    position: sticky;
    inset-block-start: -1px;
  }
}

/* hero */
.hero {
  min-height: 50vh;
  min-block-size: 50vh;
  padding-block: 1em;
  padding-inline: 0.5em;
  background: hsl(var(--hsl-black) / 0.6);

  font-family: var(--ff-hero);
  font-size: var(--size-hero);
  font-weight: var(--fw-hero);

  box-shadow: 0 1em 1em -1em var(--color-black);
  position: relative;
}
.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url(/images/coffee2.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero p ~ p {
  padding-inline: 1em;
  font-family: var(--ff-hero-body);
  font-size: var(--size-hero-body);
  font-weight: var(--fw-hero-body);
  line-height: 1.6;
}
.hero img {
  /* display: none; */
  border: 0;
  height: 100%;
  block-size: 100%;
}

/* excerpt and read more */
.excerpt {
  position: relative;
  --height: calc(var(--size-lineheight) * 1em);
  margin-block-end: calc(0em - var(--height));
}
.excerpt::before,
.excerpt::after {
  position: absolute;
  content: "";

  inset-inline: 0;
  height: var(--height);
  block-size: var(--height);
}
.excerpt::before {
  inset-block-end: 0;
  background: var(--color-white);
}
.excerpt::after {
  inset-block-end: var(--height);
  background: linear-gradient(
    to left,
    var(--color-white) 1em,
    hsl(var(--hsl-white) / 0)
  );
}

.pagination {
  margin-block-start: var(--space-l);
  border: 2px solid var(--color-brand);
  border-radius: 100vmax;

  text-align: center;
}

/* cards */
.card-collection {
  display: flex;
  flex-direction: column;
  gap: var(--size-m);

  margin-block: var(--size-3xl);
}
.card-collection > .even-columns {
  align-items: start;
}
.card {
  display: flex;
  gap: var(--space-xs);
  flex-direction: column;
  justify-content: space-between;

  background: hsl(var(--hsl-white) / 0.7);
  border: 1px solid var(--color-black);
  border-radius: 0.25rem 1.5rem;
  overflow: hidden;

  box-shadow: 0 0px 1em -0.4em var(--color-black);
}
.card > * {
  padding-inline: var(--space-xs);
  padding-inline: 1em;
}
.card > img {
  margin-inline: var(--space-xs);
  margin-inline: 1em;
  padding: 0;
}
.card .bgimage {
  max-block-size: 10em;
  aspect-ratio: auto;
  padding: 0;
  border: 0;
  opacity: 0.5;
  background: var(--color-white);
  object-fit: cover;
  filter: brightness(75%) contrast(75%);
}
.card header {
  background-color: var(--color-brand);

  color: var(--color-black);
  --color-link: var(--color-white);
}
.card footer {
  isolation: isolate;

  margin-block-start: auto;
  background-color: var(--color-accent);
  background-color: var(--color-brand);

  text-align: end;
  color: var(--color-black);
  --color-link: var(--color-white);
}

@media (min-width: 50em) {
  .card {
    transition: all 250ms ease-in-out;
    translate: 0 0.5em;
    scale: 0.95;
    rotate: 2deg;
  }
  .card:nth-of-type(2n) {
    rotate: -3deg;
    translate: 0 -2rem;
  }
  .card:hover {
    rotate: none;
    translate: none;
    scale: none;
  }
}

/* footer */
.footer {
  color: var(--color-white);
  --color-link: var(--color-black);
  margin-block-start: var(--space-m, 1.5rem);
  padding: var(--space-xs, 1rem);
  box-shadow: 0 -2px 5px -3px var(--color-black);
}
.footer p {
  max-inline-size: 75ch;
}

/* forms and buttons */
button,
.button {
  display: block;

  margin-block-start: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  background: var(--color-brand);

  font-family: var(--ff-button);
  color: var(--color-white);

  transition: all 750ms;
  cursor: pointer;
}
button:hover,
.button:hover {
  background: var(--color-accent);
}
form {
  margin: var(--space-xl) auto;
  display: grid;
  gap: 0.5em;
}
label + * {
  display: block;
}
label + * + br {
  display: none;
}
@media (min-width: 40em) {
  form {
    grid-template-columns: 5em 1fr;
  }
  button,
  .cf-turnstile {
    grid-column: span 2;
  }
}

/* UTILITY */

/* change text colors */
.black {
  color: var(--color-black);
}
.white {
  color: var(--color-white);
}
.brand {
  color: var(--color-brand);
}
.accent {
  color: var(--color-accent);
}
/* change background colors, while preventing text of the same color */
.blackbg {
  background-color: var(--color-black);
}
.blackbg * {
  --color-black: var(--color-white);
}
.whitebg {
  background-color: var(--color-white);
}
.whitebg * {
  --color-white: var(--color-black);
}
.brandbg {
  background-color: var(--color-brand);
}
.brandbg * {
  --color-brand: var(--color-accent);
}
.accentbg {
  background-color: var(--color-accent);
}
.accentbg * {
  --color-accent: var(--color-brand);
}

.center {
  display: grid;
  align-items: center;
  place-content: center;
  text-align: center;
}
.mx-auto {
  margin-inline: auto;
}
.float-left {
  float: inline-start;
}
.float-right {
  float: right;
  float: inline-end;
}
.glow {
  text-shadow: 0 0 calc(1em / 16 * var(--glowsize, 1))
    var(--glowcolor, currentColor);
}
.list-style-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skiplink {
  position: fixed;
  inset: 0 0 auto;
  padding: 1em;
  background: var(--color-accent);
  color: var(--color-white);
  z-index: 9999;
  text-align: center;
  translate: 0 -100%;
  transition: translate 250ms ease-in-out;
}
.skiplink:focus {
  translate: 0;
}
.hidden,
[hidden] {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}

/* OVERRIDES AND EXCEPTIONS */

.flex[data-nonresponsive] {
  flex-direction: initial;
  flex-wrap: wrap;
}
body.home {
  --width: 60em;
}
form[data-hide="website"] :is(label[for="website"], #website) {
  display: none;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
