---
---
@import "reset";
@import "variables";

a{color:#1c94e0}
body{
    >header {
        grid-area: header;
        color: white; 
        padding-top: 242px;
        background: black url({{ site.baseurl }}/images/badwolf.jpg) top center no-repeat;// 1260x242
        font-size: 18px;
        font-weight: bold;
        a{color:white}
    }
    >nav {
        grid-area: nav;
    }
    >main {
        grid-area: main;
        >article{
            margin: 2em 20%;
            >header{
                >h1{
                    font-size: 18px;
                    font-weight: bold;
                    a{text-decoration:none}
                }
                >time {
                }
            }
            >footer {
            }
        }
    }
    >aside {
        grid-area: aside;
    }
    >footer {
        grid-area: footer;
    }
    display: grid;
    grid-template-columns: auto 20% 20%;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer  nav aside";
    font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #292F33;
}

//*
@import "highlights";
@import "svg-icons";//*/
