---
---
@import "normalize";
@import "h5bp";

a{
    color:#1c94e0;
    text-decoration:none;
}
body{
    font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    >header {
        grid-area: header;
        color: white; 
        padding: 5px;
        background: black;
        h1{margin:0};
        a{color:white;}
    }
    >nav {
        grid-area: nav;
        text-align: center;
    }
    >main {
        grid-area: main;
        article{
            margin: 2em;
        }
    }
    >aside {
        grid-area: aside;
    }
    >footer {
        grid-area: footer;
    }
}
@media only screen and (min-width: 750px) {
    body{
        display:grid;
        grid-template-columns: auto 200px;
        grid-template-areas: 
        "header header"
        "main aside"
        "nav footer";
    };
}
@media only screen and (min-width: 850px) {
    body{ grid-template-columns: auto 250px;}
}
@media only screen and (min-width: 1024px) {
    body{
        display:grid;
        grid-template-columns: auto 350px;
        >header {
            padding: 247px 5px 5px;
            background: black url({{ site.baseurl }}/images/badwolf.jpg) top center no-repeat;// 
        }
        >main article{
            margin: 2em 20%;
        }
    }
}
//*
@import "highlights";//*/
