---
---

@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block: 0;
}
* + * {
  margin-block-start: 1em;
}
:root {
  --fg: black;
  --bg: white;
  --pop: hsl(28, 87%, 67%);
}
body {
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  // line-height: 1.4;
  // font-size: 1em;
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#header {
  grid-area: header;
  --bg: black;
  --fg: white;
  background: var(--bg);
  color: var(--fg);
  img {
    width: 100%;
  }
  a {
    color: var(--pop);
  }
  h1 {
    padding: 0 1em;
  }
}
#main {
  grid-area: main;
  max-width: 60ch;
  margin-inline: auto;
  padding-inline: 1em;
}
#nav {
  grid-area: nav;
  text-align: center;
}
#sidebar {
  grid-area: aside;
}
#footer {
  grid-area: footer;
  margin-inline: auto;
}
a {
  color: var(--pop);
  background-color: inherit;
  text-decoration: none;
  text-shadow: 0px 0px 1px var(--pop);
  transition: text-shadow 350ms;
  position: relative;
}
a::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid;
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 350ms ease-in-out;
}
*:hover > a:hover {
  text-shadow: none;
}
a:hover::before {
  transform: scaleX(100%);
  transform-origin: left;
  transition-timing-function: ease-in-out;
}
*:hover > a {
  text-shadow: 0px 0px 3px var(--pop);
}
blockquote {
  position: relative;
  &::before,
  &::after {
    font-size: 4em;
    font-family: "Playfair Display", serif;
    position: absolute;
    color: var(--pop);
  }
  &::before {
    content: open-quote;
    top: -0.5em;
    left: -0.5em;
  }
  &::after {
    content: close-quote;
    bottom: -0.5em;
    right: -0.5em;
  }
}
img {
  max-width: 100%;
  display: block;
}

// H5bp stuff
::selection {
  background: var(--pop);
  text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

@media (max-width: 30rem) {
  #header img {
    display: none;
  }
}
@import "highlights";
@import "print";
