<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if title %}{{ title }} – {% endif %}{{ site.name }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/prism-gruvbox-dark.css" />
    <script src="/script.js" defer></script>
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" /> -->
    <link
      rel="icon"
      href="https://www.gravatar.com/avatar/8fcc91dcab042562a44f1707d6f32cc2?size=32"
      sizes="32x32"
    />
  </head>

  <body class="{{bodyClass}}">
    <a href="#nav" class="skiplink">Skip to navigation</a>
    <header id="header" class="header | brandbg white">
      <h1>
        <a href="/" class="sitename | black nohover">{{ site.name }}</a>
        <a href="/" class="sitedesc | white nohover">{{ site.description }}</a>
      </h1>
    </header>

    {% comment %} This giant mess assigns the current page to have a proper aria
    label, which is used below in the li tag {% endcomment %} {% if page.url ==
    '/' %} {% assign home = " aria-current='page' " %} {% endif %} {% if
    page.url contains '/portfolio' %} {% assign portfolio= " aria-current='page'
    " %} {% endif %} {% if page.url contains '/blog' %} {% assign blog = "
    aria-current='page' " %} {% endif %} {% if page.url contains '/contact' %}
    {% assign contact = " aria-current='page' " %} {% endif %}
    <a href="#main" class="skiplink">Skip to main content</a>
    <nav id="nav" class="mainnav | brandbg">
      <ul class="flex | list-style-none">
        <li {{home}}><a href="/">Home</a></li>
        <li {{portfolio}}><a href="/portfolio">Portfolio</a></li>
        <li {{blog}}><a href="/blog">Blog</a></li>
        <li {{contact}}><a href="/contact">Contact</a></li>
        <li class="logo">
          <a href="/" class="nohover">
            <img
              src="https://www.gravatar.com/avatar/8fcc91dcab042562a44f1707d6f32cc2?size=400"
              alt="Home"
            />
          </a>
        </li>
      </ul>
    </nav>

    <main id="main" class="main container">{{ content }}</main>

    <footer
      id="footer"
      class="footer | flex space-between flex-end | brandbg"
      style="--gap: 0.25em 1em"
      data-cols="2"
      data-nonresponsive
    >
      <ul class="contact | flex | list-style-none">
        <li><a href="https://www.linkedin.com/in/joshsurber/">LinkedIn</a></li>
        <li><a href="https://github.com/joshsurber">Github</a></li>
        <!-- <li> <a href="https://stackoverflow.com/users/18970627/josh-surber" >StackOverflow</a > </li> -->
        <li><a href="/legal">Legal</a></li>
      </ul>
      <div>© 1999 – {% year %} Josh Surber</div>
    </footer>
  </body>
</html>
