<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/prism-gruvbox-dark.css" />
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" /> -->
    <link rel="icon" href="//j.mp/joshsurber" sizes="32x32" />
  </head>

  <body>
    <header id="header" class="header | brandbg white">
      <h1>
        <a href="/" class="sitename | black nohover">{{ site.name }}</a>
        <a href="/" class="sitedesc | white nohover">{{ site.description }}</a>
      </h1>
    </header>

    <nav id="nav" class="mainnav | brandbg">
      <ul class="flex">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li class="logo">
          <a href="/" class="logo | nohover">
            <img
              src="https://www.gravatar.com/avatar/8fcc91dcab042562a44f1707d6f32cc2?size=400"
              alt=""
            />
          </a>
        </li>
      </ul>
    </nav>

    <div id="hero" class="hero">
      <img
        src="/images/josh.png"
        alt="Headshot image of Josh Surber"
        title="Creepy disembodied head"
      />
    </div>

    <main id="main" class="main container">{{ content }}</main>

    <footer id="footer">
      <p>
        My name is Josh Surber. For over twenty years my career has been food
        and retail management, with web development as a hobby. I am trying to
        turn web development into a career and telling people what to do into a
        hobby.
      </p>
      <ul contact="contact">
        <li><a href="https://www.linkedin.com/in/joshsurber/">LinkedIn</a></li>
        <li><a href="https://github.com/joshsurber">Github</a></li>
        <li>
          <a href="https://stackoverflow.com/users/18970627/josh-surber"
            >StackOverflow</a
          >
        </li>
        <li><a href="mailto:josh@surber.us">Hire me</a></li>
      </ul>
      © 1999 – {% year %} Josh Surber ▪
      <a href="/legal">Legal</a>
    </footer>
  </body>
</html>
