---
layout: base
---

<div class="flow">
  {% if image and imageAlt %} {% if before and beforeAlt %}
  <div class="flex | flex-end">
    <picture>
      <img src="{{before}}" alt="{{beforeAlt}}" />
      <caption>
        Before
      </caption>
    </picture>
    <picture>
      <img src="{{image}}" alt="{{imageAlt}}" />
      <caption>
        After
      </caption>
    </picture>
  </div>
  {% else %}
  <img src="{{image}}" alt="{{imageAlt}}" />
  {% endif %} {% endif %} {{ content }}
</div>
