---
layout: base
---

<article class="flow">

    <header>
        <h2><a href="{{ page.url }}" rel="permalink" class="brand">{{ title }}</a></h2>
        Posted <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%A, %e %B %Y" }}</time>
    </header>

    {{ content }}

</article>

<nav class="articlenav">
    {% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
    {% assign nextPost = collections.posts | getNextCollectionItem: page %}
    {% if previousPost %}Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        {% if nextPost %} ● {% endif %}
    {% endif %}
    {% if nextPost %}Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
</nav>
