<p>
  <img src="/images/josh.jpg" alt="Headshot image of Josh Surber" />
</p>
<p>
  My name is Josh Surber. For about twenty years my career has been food and
  retail management, with web development as a hobby. I am trying to turn web
  development into a career and telling people what to do into a hobby.
</p>
<ul id="contact">
  <li><a href="https://www.linkedin.com/in/joshsurber/">LinkedIn</a></li>
  <li><a href="https://github.com/joshsurber">Github</a></li>
  <li>
    <a href="https://stackoverflow.com/users/18970627/josh-surber"
      >StackOverflow</a
    >
  </li>
  <li><a href="mailto:josh@surber.us">Hire me</a></li>
</ul>
